.add-weapon {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 3rem;
}

.add-weapon > input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80%;
    border: 0;
    border-bottom: 1px solid gray;
    background-color: transparent;
    outline: 0;
    color: white;
    font-family: "EB Garamond", serif;
    font-weight: 600;
}
.weapon-last-input {
    width: 100%;
    display: flex;
    justify-content: center;
}
.weapon-last-input > input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80%;
    border: 0;
    border-bottom: 1px solid gray;
    background-color: transparent;
    outline: 0;
    color: white;
    font-family: "EB Garamond", serif;
    font-weight: 600;
}
.add-weapon-button {
    right: -20%;
    position: absolute;
    text-align: center;
    color: #999999;
    display: flex;
    align-items: center;
}

.add-weapon-button:hover {
    transition: 0.2s;
    color: white;
    transform: scale(1.8, 1.8);
    -webkit-transform: scale(1.8, 1.8);
    -moz-transform: scale(1.8, 1.8);
}
